apiVersion: apps/v1
kind: Deployment
metadata:
  name: myweb
spec:
  replicas: 2
  selector:
    matchLabels:
      env: slave
  template:
    metadata:
      name: myweb-pod
      labels:
        env: slave
    spec:
      containers:
      - name: myweb-con
        image: shubhambhalala/slave